# API Keys & Secrets
.env

# Python Environment
__pycache__/
*.py[cod]
venv/
env/

# Mac System Files
.DS_Store

# Streamlit
.streamlit/config.toml
token.json
credentials.json
sync-app/node_modules/
sync-app/.DS_Store
sync-app/dist/
sync-app/.env
